In [2]:
import sqlite3
import click
import pandas as pd
import sqlite3

In [3]:
with sqlite3.connect("tutorial.db", detect_types=sqlite3.PARSE_DECLTYPES) as con:
    # con = sqlite3.connect("tutorial.db", detect_types=sqlite3.PARSE_DECLTYPES)
    cur = con.cursor()
    # create table
    cur.execute("CREATE TABLE if not exists movie(title, year, score) ")
    #insert
    cur.execute("""
        INSERT INTO movie VALUES
            ('Monty Python and the Holy Grai', 1973, 8.1)
    """)
    # con.commit()

In [4]:
# get data
res = cur.execute("SELECT * FROM movie")
pd.DataFrame(res.fetchall())

                                0     1    2
0  Monty Python and the Holy Grai  1975  8.1
1  Monty Python and the Holy Grai  1975  8.1
2  Monty Python and the Holy Grai  1975  8.1
3  Monty Python and the Holy Grai  1974  8.1
4  Monty Python and the Holy Grai  1973  8.1